/* line 20, ../sass/_shake.scss */
.shake {
  display: inline-block;
  transform-origin: center center;
}
/* line 24, ../sass/_shake.scss */
.shake:hover {
  animation-name: shake-base;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 28, ../sass/_shake.scss */
.shake.freez {
  animation-play-state: paused;
}
/* line 29, ../sass/_shake.scss */
.shake.freez.shake-hard {
  animation-name: shake-hard;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 30, ../sass/_shake.scss */
.shake.freez.shake-slow {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 31, ../sass/_shake.scss */
.shake.freez.shake-little {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 32, ../sass/_shake.scss */
.shake.freez.shake-horizontal {
  animation-name: shake-horizontal;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 33, ../sass/_shake.scss */
.shake.freez.shake-vertical {
  animation-name: shake-vertical;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 34, ../sass/_shake.scss */
.shake.freez.shake-rotate {
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 35, ../sass/_shake.scss */
.shake.freez.shake-opacity {
  animation-name: shake-opacity;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 36, ../sass/_shake.scss */
.shake.freez.shake-crazy {
  animation-name: shake-crazy;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 38, ../sass/_shake.scss */
.shake.freez:hover {
  animation-play-state: running;
}
/* line 44, ../sass/_shake.scss */
.shake.shake-hard:hover {
  animation-name: shake-hard;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 45, ../sass/_shake.scss */
.shake.shake-slow:hover {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 46, ../sass/_shake.scss */
.shake.shake-little:hover {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 47, ../sass/_shake.scss */
.shake.shake-horizontal:hover {
  animation-name: shake-horizontal;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 48, ../sass/_shake.scss */
.shake.shake-vertical:hover {
  animation-name: shake-vertical;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 49, ../sass/_shake.scss */
.shake.shake-rotate:hover {
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 50, ../sass/_shake.scss */
.shake.shake-opacity:hover {
  animation-name: shake-opacity;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 51, ../sass/_shake.scss */
.shake.shake-crazy:hover {
  animation-name: shake-crazy;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 53, ../sass/_shake.scss */
.shake.shake-constant {
  animation-name: shake-base;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 55, ../sass/_shake.scss */
.shake.shake-constant.shake-hard {
  animation-name: shake-hard;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 56, ../sass/_shake.scss */
.shake.shake-constant.shake-slow {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 57, ../sass/_shake.scss */
.shake.shake-constant.shake-little {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 58, ../sass/_shake.scss */
.shake.shake-constant.shake-horizontal {
  animation-name: shake-horizontal;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 59, ../sass/_shake.scss */
.shake.shake-constant.shake-vertical {
  animation-name: shake-vertical;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 60, ../sass/_shake.scss */
.shake.shake-constant.shake-rotate {
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 61, ../sass/_shake.scss */
.shake.shake-constant.shake-opacity {
  animation-name: shake-opacity;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 62, ../sass/_shake.scss */
.shake.shake-constant.shake-crazy {
  animation-name: shake-crazy;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}
/* line 63, ../sass/_shake.scss */
.shake.shake-constant.hover-stop:hover {
  animation-play-state: paused;
}
/* line 67, ../sass/_shake.scss */
.shake.shake-delay {
  animation-name: shake-base;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
}

@keyframes shake-base {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  2% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  4% {
    transform: translate(-0.5px, -2.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  6% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  8% {
    transform: translate(-2.5px, 0.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  12% {
    transform: translate(1.5px, 0.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  14% {
    transform: translate(1.5px, -2.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  16% {
    transform: translate(-2.5px, -1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  18% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  22% {
    transform: translate(-1.5px, -2.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  24% {
    transform: translate(0.5px, 0.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  26% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  28% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(-0.5px, -1.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  32% {
    transform: translate(-2.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  34% {
    transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  36% {
    transform: translate(-2.5px, -0.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  38% {
    transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  42% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  44% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  46% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  48% {
    transform: translate(-2.5px, 1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(0.5px, 1.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  52% {
    transform: translate(-1.5px, -2.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  54% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  56% {
    transform: translate(1.5px, 0.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  58% {
    transform: translate(-2.5px, 1.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  62% {
    transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  64% {
    transform: translate(0.5px, 0.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  66% {
    transform: translate(1.5px, -0.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  68% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(-1.5px, -2.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  72% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  74% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  76% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  78% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  82% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  84% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  86% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  88% {
    transform: translate(-2.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  92% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  94% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  96% {
    transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  98% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }
}

@keyframes shake-little {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  2% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  4% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  6% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  8% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  12% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  14% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  16% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  18% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  22% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  24% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  26% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  28% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  32% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  34% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  36% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  38% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  42% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  44% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  46% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  48% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  52% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  54% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  56% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  58% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  62% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  64% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  66% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  68% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  72% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  74% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  76% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  78% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  82% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  84% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  86% {
    transform: translate(0px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  88% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  92% {
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  94% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  96% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  98% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
}

@keyframes shake-slow {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  2% {
    transform: translate(4px, -4px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  4% {
    transform: translate(8px, -3px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  6% {
    transform: translate(-7px, 3px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  8% {
    transform: translate(3px, -5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(6px, -2px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  12% {
    transform: translate(9px, 7px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  14% {
    transform: translate(-8px, -4px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  16% {
    transform: translate(-1px, 3px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  18% {
    transform: translate(-7px, -4px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(9px, -8px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  22% {
    transform: translate(-3px, -3px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  24% {
    transform: translate(-5px, -4px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  26% {
    transform: translate(7px, 7px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  28% {
    transform: translate(-4px, 3px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  32% {
    transform: translate(-8px, 5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  34% {
    transform: translate(-6px, 2px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  36% {
    transform: translate(-1px, 5px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  38% {
    transform: translate(-10px, 1px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(-2px, 1px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  42% {
    transform: translate(-4px, -8px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  44% {
    transform: translate(0px, 6px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  46% {
    transform: translate(8px, 3px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  48% {
    transform: translate(-6px, 9px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(-7px, 9px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  52% {
    transform: translate(8px, 4px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  54% {
    transform: translate(0px, -5px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  56% {
    transform: translate(-5px, -10px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  58% {
    transform: translate(-8px, 4px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(-8px, -2px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  62% {
    transform: translate(-4px, -8px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  64% {
    transform: translate(3px, 8px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  66% {
    transform: translate(4px, -1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  68% {
    transform: translate(0px, 2px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(7px, 7px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  72% {
    transform: translate(-10px, 7px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  74% {
    transform: translate(-1px, -10px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  76% {
    transform: translate(8px, 4px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  78% {
    transform: translate(-10px, 2px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(5px, -5px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  82% {
    transform: translate(6px, -6px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  84% {
    transform: translate(6px, 4px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  86% {
    transform: translate(0px, -9px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  88% {
    transform: translate(-3px, -7px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(-5px, -6px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  92% {
    transform: translate(-7px, 8px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  94% {
    transform: translate(7px, -3px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  96% {
    transform: translate(-2px, 1px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  98% {
    transform: translate(4px, 3px) rotate(0.5deg);
  }
}

@keyframes shake-hard {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  2% {
    transform: translate(8px, 9px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  4% {
    transform: translate(-5px, 6px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  6% {
    transform: translate(-4px, -4px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  8% {
    transform: translate(-4px, -3px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(-6px, 7px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  12% {
    transform: translate(5px, -1px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  14% {
    transform: translate(8px, -6px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  16% {
    transform: translate(-9px, 4px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  18% {
    transform: translate(6px, -5px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  22% {
    transform: translate(-4px, 9px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  24% {
    transform: translate(0px, 4px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  26% {
    transform: translate(-6px, 7px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  28% {
    transform: translate(-1px, -7px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(-5px, -7px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  32% {
    transform: translate(4px, -7px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  34% {
    transform: translate(4px, -6px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  36% {
    transform: translate(-4px, 0px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  38% {
    transform: translate(9px, 5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(5px, -7px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  42% {
    transform: translate(6px, -6px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  44% {
    transform: translate(0px, -4px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  46% {
    transform: translate(1px, 5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  48% {
    transform: translate(9px, -4px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(9px, 1px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  52% {
    transform: translate(0px, -5px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  54% {
    transform: translate(5px, -4px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  56% {
    transform: translate(-2px, 3px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  58% {
    transform: translate(-4px, 9px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(8px, 5px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  62% {
    transform: translate(-6px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  64% {
    transform: translate(-7px, -7px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  66% {
    transform: translate(-5px, 7px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  68% {
    transform: translate(-10px, 7px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(0px, -2px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  72% {
    transform: translate(4px, -9px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  74% {
    transform: translate(4px, -10px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  76% {
    transform: translate(-1px, -1px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  78% {
    transform: translate(2px, -6px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(-6px, -6px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  82% {
    transform: translate(5px, 9px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  84% {
    transform: translate(2px, 5px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  86% {
    transform: translate(-2px, 3px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  88% {
    transform: translate(5px, 8px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(0px, 4px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  92% {
    transform: translate(6px, 3px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  94% {
    transform: translate(-3px, 1px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  96% {
    transform: translate(-5px, -8px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  98% {
    transform: translate(4px, -10px) rotate(-0.5deg);
  }
}

@keyframes shake-horizontal {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  2% {
    transform: translate(-10px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  4% {
    transform: translate(-1px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  6% {
    transform: translate(-3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  8% {
    transform: translate(-6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(-8px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  12% {
    transform: translate(-6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  14% {
    transform: translate(3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  16% {
    transform: translate(3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  18% {
    transform: translate(-8px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(-7px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  22% {
    transform: translate(-8px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  24% {
    transform: translate(1px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  26% {
    transform: translate(-8px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  28% {
    transform: translate(-5px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(2px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  32% {
    transform: translate(-2px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  34% {
    transform: translate(-6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  36% {
    transform: translate(-3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  38% {
    transform: translate(-1px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(-4px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  42% {
    transform: translate(3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  44% {
    transform: translate(-7px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  46% {
    transform: translate(9px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  48% {
    transform: translate(-9px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(-9px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  52% {
    transform: translate(-6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  54% {
    transform: translate(-7px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  56% {
    transform: translate(-9px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  58% {
    transform: translate(1px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  62% {
    transform: translate(-9px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  64% {
    transform: translate(2px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  66% {
    transform: translate(-4px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  68% {
    transform: translate(-10px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(2px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  72% {
    transform: translate(2px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  74% {
    transform: translate(6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  76% {
    transform: translate(-3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  78% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  82% {
    transform: translate(-6px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  84% {
    transform: translate(9px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  86% {
    transform: translate(-8px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  88% {
    transform: translate(1px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(1px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  92% {
    transform: translate(7px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  94% {
    transform: translate(3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  96% {
    transform: translate(3px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  98% {
    transform: translate(-7px, 0px) rotate(0deg);
  }
}

@keyframes shake-vertical {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  2% {
    transform: translate(0px, -9px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  4% {
    transform: translate(0px, -1px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  6% {
    transform: translate(0px, -3px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  8% {
    transform: translate(0px, -7px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(0px, 7px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  12% {
    transform: translate(0px, -5px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  14% {
    transform: translate(0px, -10px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  16% {
    transform: translate(0px, 3px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  18% {
    transform: translate(0px, -3px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  22% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  24% {
    transform: translate(0px, -9px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  26% {
    transform: translate(0px, 1px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  28% {
    transform: translate(0px, -4px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(0px, -10px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  32% {
    transform: translate(0px, -9px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  34% {
    transform: translate(0px, -6px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  36% {
    transform: translate(0px, -1px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  38% {
    transform: translate(0px, -1px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(0px, -4px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  42% {
    transform: translate(0px, -5px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  44% {
    transform: translate(0px, -8px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  46% {
    transform: translate(0px, -8px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  48% {
    transform: translate(0px, -3px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(0px, -8px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  52% {
    transform: translate(0px, 7px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  54% {
    transform: translate(0px, 6px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  56% {
    transform: translate(0px, -10px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  58% {
    transform: translate(0px, 4px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(0px, 9px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  62% {
    transform: translate(0px, 6px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  64% {
    transform: translate(0px, 9px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  66% {
    transform: translate(0px, -9px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  68% {
    transform: translate(0px, -6px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(0px, -6px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  72% {
    transform: translate(0px, -8px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  74% {
    transform: translate(0px, 5px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  76% {
    transform: translate(0px, -4px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  78% {
    transform: translate(0px, 3px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(0px, -3px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  82% {
    transform: translate(0px, -2px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  84% {
    transform: translate(0px, 8px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  86% {
    transform: translate(0px, -7px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  88% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(0px, 1px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  92% {
    transform: translate(0px, 7px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  94% {
    transform: translate(0px, -6px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  96% {
    transform: translate(0px, -9px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  98% {
    transform: translate(0px, -8px) rotate(0deg);
  }
}

@keyframes shake-rotate {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  /* line 26, ../sass/_mixins.scss */
  2% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  4% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  6% {
    transform: translate(0px, 0px) rotate(3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  8% {
    transform: translate(0px, 0px) rotate(-5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(0px, 0px) rotate(4.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  12% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  14% {
    transform: translate(0px, 0px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  16% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  18% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  22% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  24% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  26% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  28% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  32% {
    transform: translate(0px, 0px) rotate(-5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  34% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  36% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  38% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  42% {
    transform: translate(0px, 0px) rotate(4.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  44% {
    transform: translate(0px, 0px) rotate(-3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  46% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  48% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  52% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  54% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  56% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  58% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(0px, 0px) rotate(-7.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  62% {
    transform: translate(0px, 0px) rotate(3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  64% {
    transform: translate(0px, 0px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  66% {
    transform: translate(0px, 0px) rotate(3.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  68% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  72% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  74% {
    transform: translate(0px, 0px) rotate(-2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  76% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  78% {
    transform: translate(0px, 0px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(0px, 0px) rotate(1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  82% {
    transform: translate(0px, 0px) rotate(-7.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  84% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  86% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  88% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  92% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  94% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  96% {
    transform: translate(0px, 0px) rotate(4.5deg);
  }

  /* line 26, ../sass/_mixins.scss */
  98% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
}

@keyframes shake-opacity {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.6;
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(-4px, -1px) rotate(-0.5deg);
    opacity: 0.5;
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(4px, -5px) rotate(-0.5deg);
    opacity: 0.3;
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(3px, -4px) rotate(0.5deg);
    opacity: 0.1;
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(0px, -3px) rotate(0.5deg);
    opacity: 0.8;
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(-2px, 4px) rotate(-2.5deg);
    opacity: 0.8;
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(1px, -1px) rotate(-1.5deg);
    opacity: 0.4;
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(-4px, -5px) rotate(-1.5deg);
    opacity: 0;
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(-2px, -4px) rotate(0.5deg);
    opacity: 0;
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(1px, -4px) rotate(0.5deg);
    opacity: 0.8;
  }
}

@keyframes shake-crazy {
  /* line 19, ../sass/_mixins.scss */
  0% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.8;
  }

  /* line 26, ../sass/_mixins.scss */
  10% {
    transform: translate(-11px, -10px) rotate(-3deg);
    opacity: 0.2;
  }

  /* line 26, ../sass/_mixins.scss */
  20% {
    transform: translate(-17px, 9px) rotate(6deg);
    opacity: 0.8;
  }

  /* line 26, ../sass/_mixins.scss */
  30% {
    transform: translate(-10px, -18px) rotate(-1deg);
    opacity: 0;
  }

  /* line 26, ../sass/_mixins.scss */
  40% {
    transform: translate(-12px, 12px) rotate(-5deg);
    opacity: 0.2;
  }

  /* line 26, ../sass/_mixins.scss */
  50% {
    transform: translate(5px, 13px) rotate(-2deg);
    opacity: 0.4;
  }

  /* line 26, ../sass/_mixins.scss */
  60% {
    transform: translate(5px, 2px) rotate(-10deg);
    opacity: 0.4;
  }

  /* line 26, ../sass/_mixins.scss */
  70% {
    transform: translate(12px, -12px) rotate(1deg);
    opacity: 0.3;
  }

  /* line 26, ../sass/_mixins.scss */
  80% {
    transform: translate(6px, 16px) rotate(3deg);
    opacity: 0.9;
  }

  /* line 26, ../sass/_mixins.scss */
  90% {
    transform: translate(16px, 6px) rotate(-9deg);
    opacity: 0.6;
  }
}
