/* line 17, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* apply a natural box layout model to all elements */
/* line 11, ../sass/_demo.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_demo.scss */
body {
  background: #2ab8ac;
}

/* line 19, ../sass/_demo.scss */
.elements {
  list-style: none;
}
/* line 21, ../sass/_demo.scss */
.elements li {
  width: 100px;
  height: 100px;
  background-color: green;
  display: inline-block;
}

/* line 30, ../sass/_demo.scss */
.section {
  color: white;
  padding: 85px;
  text-align: center;
}
/* line 34, ../sass/_demo.scss */
.section h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
}
/* line 38, ../sass/_demo.scss */
.section h4 {
  font-size: 1.4em;
  font-family: 'Gentium Basic', serif;
}
/* line 42, ../sass/_demo.scss */
.section > p {
  margin-top: 25px;
  line-height: 1.5em;
}
/* line 46, ../sass/_demo.scss */
.section a {
  color: rgba(0, 0, 0, 0.5);
}
/* line 48, ../sass/_demo.scss */
.section a:link {
  text-decoration: none;
}
/* line 51, ../sass/_demo.scss */
.section a:hover {
  color: rgba(0, 0, 0, 0.85);
}
/* line 55, ../sass/_demo.scss */
.section footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  line-height: 1.3em;
}

/* line 66, ../sass/_demo.scss */
.home {
  width: 100%;
  height: 490px;
  position: relative;
  text-align: center;
}
/* line 71, ../sass/_demo.scss */
.home h1, .home h4 {
  position: relative;
  top: 50%;
  color: white;
}
/* line 76, ../sass/_demo.scss */
.home h1 {
  margin-top: 110px;
}
/* line 77, ../sass/_demo.scss */
.home h4 {
  margin-top: 10px;
}

/* line 83, ../sass/_demo.scss */
.glass {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 169px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  width: 70px;
}
/* line 95, ../sass/_demo.scss */
.glass:before, .glass:after {
  content: '';
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  left: -9px;
  width: 70px;
}
/* line 104, ../sass/_demo.scss */
.glass:before {
  border-top: 169px solid rgba(0, 0, 0, 0.07);
  top: -169px;
  width: 58px;
}
/* line 109, ../sass/_demo.scss */
.glass:after {
  border-top: 94px solid rgba(0, 0, 0, 0.05);
  transform: rotate(180deg);
}

/* line 115, ../sass/_demo.scss */
.bubble {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
}
/* line 121, ../sass/_demo.scss */
.bubble.big {
  width: 34px;
  height: 34px;
}
/* line 125, ../sass/_demo.scss */
.bubble.small {
  width: 16px;
  height: 16px;
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(1) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(2) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(3) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(4) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(5) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(6) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(7) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(8) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(9) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}
/* line 130, ../sass/_demo.scss */
.bubble:nth-of-type(10) {
  box-shadow: inset 0 random(4)-4px 0 rgba(64, 83, 102, 0.1);
}

/* line 136, ../sass/_demo.scss */
.bubble:nth-child(1) {
  top: -180px;
  left: -12px;
}

/* line 137, ../sass/_demo.scss */
.bubble:nth-child(2) {
  top: -200px;
  left: -5px;
}

/* line 138, ../sass/_demo.scss */
.bubble:nth-child(3) {
  top: -172px;
  left: 10px;
}

/* line 139, ../sass/_demo.scss */
.bubble:nth-child(4) {
  top: -193px;
  left: 25px;
}

/* line 140, ../sass/_demo.scss */
.bubble:nth-child(5) {
  top: -184px;
  left: 20px;
}

/* line 141, ../sass/_demo.scss */
.bubble:nth-child(6) {
  top: -178px;
  left: 40px;
}

/* line 142, ../sass/_demo.scss */
.bubble:nth-child(7) {
  top: -182px;
  left: 60px;
}

/* line 143, ../sass/_demo.scss */
.bubble:nth-child(8) {
  top: -182px;
  left: 55px;
}

/* line 144, ../sass/_demo.scss */
.bubble:nth-child(9) {
  top: -205px;
  left: 25px;
}

/* line 145, ../sass/_demo.scss */
.bubble:nth-child(10) {
  top: -170px;
  left: -20px;
}

/* line 147, ../sass/_demo.scss */
.straw {
  position: absolute;
  width: 10px;
  height: 140px;
  background-color: red;
  top: -300px;
  left: 61px;
  transform: rotate(7deg);
  z-index: -1;
  background-color: #e96144;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 16px, rgba(255, 255, 255, 0.9) 16px, rgba(255, 255, 255, 0.9) 32px);
  box-shadow: inset -5px 0 0 rgba(0, 0, 0, 0.1);
}

/* line 162, ../sass/_demo.scss */
.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
/* line 173, ../sass/_demo.scss */
.arrow:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
/* line 182, ../sass/_demo.scss */
.section.shamrock .arrow:before {
  border-top: 10px solid #2ab8ac;
}
/* line 183, ../sass/_demo.scss */
.section.carrot .arrow:before {
  border-top: 10px solid #ffab52;
}
/* line 184, ../sass/_demo.scss */
.section.amethyst .arrow:before {
  border-top: 10px solid #9c55a5;
}
/* line 185, ../sass/_demo.scss */
.section.scooter .arrow:before {
  border-top: 10px solid #57cadd;
}
/* line 186, ../sass/_demo.scss */
.section.dolly .arrow:before {
  border-top: 10px solid #fff68d;
}
/* line 187, ../sass/_demo.scss */
.section.shamrock .arrow:before {
  border-top: 10px solid #2ab8ac;
}
/* line 188, ../sass/_demo.scss */
.section.pear .arrow:before {
  border-top: 10px solid #cce033;
}

/* line 196, ../sass/_demo.scss */
.section.carrot {
  background-color: #ffab52;
}
/* line 197, ../sass/_demo.scss */
.section.amethyst {
  background-color: #9c55a5;
}
/* line 198, ../sass/_demo.scss */
.section.scooter {
  background-color: #57cadd;
}
/* line 199, ../sass/_demo.scss */
.section.dolly {
  background-color: #fff68d;
  color: #2C3E50;
}
/* line 203, ../sass/_demo.scss */
.section.shamrock {
  background-color: #2ab8ac;
}
/* line 204, ../sass/_demo.scss */
.section.pear {
  background-color: #cce033;
}

/* line 208, ../sass/_demo.scss */
.color-carrot {
  color: #ffab52;
}

/* line 209, ../sass/_demo.scss */
.color-amethyst {
  color: #9c55a5;
}

/* line 210, ../sass/_demo.scss */
.color-scooter {
  color: #57cadd;
}

/* line 211, ../sass/_demo.scss */
.color-dolly {
  color: #fff68d;
}

/* line 212, ../sass/_demo.scss */
.color-shamrock {
  color: #2ab8ac;
}

/* line 213, ../sass/_demo.scss */
.color-pear {
  color: #cce033;
}

/* line 216, ../sass/_demo.scss */
.previews {
  display: block;
  list-style: none;
  width: 85%;
  margin: 34px auto 0;
}
/* line 221, ../sass/_demo.scss */
.previews li {
  display: inline-block;
  width: 150px;
  padding: 20px;
  vertical-align: middle;
}
/* line 227, ../sass/_demo.scss */
.previews.bigs li {
  width: 250px;
}

/* line 229, ../sass/_demo.scss */
.preview-item {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  line-height: 100px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.3);
  margin: auto;
}
/* line 238, ../sass/_demo.scss */
.preview-item.big {
  width: 200px;
  height: 200px;
  font-size: 160px;
  line-height: 200px;
}
/* line 244, ../sass/_demo.scss */
.section.carrot .preview-item {
  background-color: #ffc485;
}
/* line 245, ../sass/_demo.scss */
.section.amethyst .preview-item {
  background-color: #b075b8;
}
/* line 246, ../sass/_demo.scss */
.section.scooter .preview-item {
  background-color: #81d7e6;
}
/* line 247, ../sass/_demo.scss */
.section.dolly .preview-item {
  background-color: #fffac0;
}
/* line 248, ../sass/_demo.scss */
.section.shamrock .preview-item {
  background-color: #41d4c7;
}
/* line 249, ../sass/_demo.scss */
.section.pear .preview-item {
  background-color: #d7e75f;
}
/* line 251, ../sass/_demo.scss */
.preview-item:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 33px solid transparent;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* line 255, ../sass/_demo.scss */
.section.carrot .preview-item:after {
  border-bottom: 33px solid #ffab52;
}
/* line 256, ../sass/_demo.scss */
.section.amethyst .preview-item:after {
  border-bottom: 33px solid #9c55a5;
}
/* line 257, ../sass/_demo.scss */
.section.scooter .preview-item:after {
  border-bottom: 33px solid #57cadd;
}
/* line 258, ../sass/_demo.scss */
.section.dolly .preview-item:after {
  border-bottom: 33px solid #fff68d;
}
/* line 259, ../sass/_demo.scss */
.section.shamrock .preview-item:after {
  border-bottom: 33px solid #2ab8ac;
}
/* line 260, ../sass/_demo.scss */
.section.pear .preview-item:after {
  border-bottom: 33px solid #cce033;
}

/* line 268, ../sass/_demo.scss */
.flip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
}
/* line 274, ../sass/_demo.scss */
.section.carrot .flip {
  border-top: 30px solid #ffd09f;
}
/* line 275, ../sass/_demo.scss */
.section.amethyst .flip {
  border-top: 30px solid #ba86c1;
}
/* line 276, ../sass/_demo.scss */
.section.scooter .flip {
  border-top: 30px solid #97deea;
}
/* line 277, ../sass/_demo.scss */
.section.dolly .flip {
  border-top: 30px solid #fffcda;
}
/* line 278, ../sass/_demo.scss */
.section.shamrock .flip {
  border-top: 30px solid #56d8cd;
}
/* line 279, ../sass/_demo.scss */
.section.pear .flip {
  border-top: 30px solid #ddea75;
}
/* line 282, ../sass/_demo.scss */
.flip:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 30px solid rgba(0, 0, 0, 0.15);
  border-left: 30px solid transparent;
  position: absolute;
  bottom: 0;
  left: -30px;
}

/* line 294, ../sass/_demo.scss */
.preview-desc {
  margin-top: 20px;
  font-family: 'Gentium Basic', serif;
}

/* line 299, ../sass/_demo.scss */
.dropdown {
  position: relative;
  margin: 25px auto;
  height: 50px;
  width: 300px;
}
/* line 304, ../sass/_demo.scss */
.dropdown::after {
  content: "➘";
  position: absolute;
  right: 11px;
  top: 13px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
}

/* line 314, ../sass/_demo.scss */
.dropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 50px;
  line-height: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color .3s;
  border: none;
  outline: none;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
/* line 328, ../sass/_demo.scss */
.dropdown-select:hover, .dropdown-select:active {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 334, ../sass/_demo.scss */
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  border-radius: 3px;
  cursor: pointer;
}

/* line 344, ../sass/_demo.scss */
.btn {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  padding: 10px 20px;
  margin-top: 34px;
  display: inline-block;
  transition: background-color, .3s;
}
/* line 351, ../sass/_demo.scss */
.btn.carrot {
  background-color: #ffab52;
}
/* line 352, ../sass/_demo.scss */
.btn.amethyst {
  background-color: #9c55a5;
}
/* line 353, ../sass/_demo.scss */
.btn.light:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 357, ../sass/_demo.scss */
.btn + small {
  font-family: 'Gentium Basic', serif;
  font-size: 16px;
  margin-top: 10px;
  display: block;
}
