// Colors 
$carrot: #ffab52; 
$amethyst: #9c55a5; 
$scooter: #57cadd; 
$dolly: #fff68d; 
$shamrock: #2ab8ac; 
$pear: #cce033; 


/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  background: #2ab8ac;
}

.elements {
	list-style: none;
	li {
		width: 100px;
		height: 100px;
		background-color: green;
		display: inline-block;
	}
}


.section {
  color:white;
  padding: 85px;
  text-align: center;
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
  }
  h4 {
    font-size: 1.4em;
    font-family: 'Gentium Basic', serif;
  }
  & > p {
    margin-top: 25px;
    line-height: 1.5em;
  }
  a{
    color:rgba(0,0,0,0.5);
    &:link{
      text-decoration: none;
    }
    &:hover {
      color:rgba(0,0,0,0.85);
    }
  }
  footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    line-height: 1.3em;
  }
}


// Home
.home {
	width: 100%;
	height: 490px;
	position: relative;
	text-align: center;
  h1, h4 {
    position: relative;
    top: 50%;
    color: white;
  }
	h1 { margin-top: 110px; }
  h4 { margin-top: 10px; }
}



// Glass
.glass {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 169px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  height: 0;
  width: 70px; 
  &:before, &:after {
    content:'';
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    left: -9px;
    width: 70px; 
  }
  &:before {
    border-top: 169px solid rgba(0,0,0,0.07);
    top: -169px;
    width: 58px;
  }
   &:after {
    border-top: 94px solid rgba(0,0,0,0.05);
    @include vendorize(transform, rotate(180deg), webkit ms spec);
  }
}

.bubble {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  &.big {
    width: 34px;
    height: 34px;
  }
  &.small {
    width: 16px;
    height: 16px;
  }
  @for $i from 1 through 10{
    &:nth-of-type(#{$i}) {
     box-shadow: inset 0 (random(4)- 4)+px 0 rgba(64, 83, 102, 0.1);
    }
  }
}

.bubble:nth-child(1){ top: -180px; left: -12px; }
.bubble:nth-child(2){ top: -200px; left: -5px; }
.bubble:nth-child(3){ top: -172px; left: 10px; }
.bubble:nth-child(4){ top: -193px; left: 25px; }
.bubble:nth-child(5){ top: -184px; left: 20px; }
.bubble:nth-child(6){ top: -178px; left: 40px; }
.bubble:nth-child(7){ top: -182px; left: 60px; }
.bubble:nth-child(8){ top: -182px; left: 55px; }
.bubble:nth-child(9){ top: -205px; left: 25px; }
.bubble:nth-child(10){ top: -170px; left: -20px; }

.straw {
  position: absolute;
  width: 10px;
  height: 140px;
  background-color: red;
  top: -300px;
  left: 61px;
  transform:rotate(7deg);
  z-index: -1;
  background-color: #e96144;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 16px, rgba(255,255,255,.9) 16px, rgba(255,255,255,.9) 32px);
  box-shadow:inset -5px 0 0 rgba(0,0,0,0.1);
}


.arrow {
  position: absolute;
  bottom:20px;
  left: 50%;
  margin-left: -10px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-top: 15px solid rgba(255,255,255,.3);
  cursor:pointer;
  &:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -8px;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    .section.shamrock & { border-top: 10px solid $shamrock; }
    .section.carrot &{ border-top: 10px solid $carrot; }
    .section.amethyst &{ border-top: 10px solid $amethyst; }
    .section.scooter &{ border-top: 10px solid $scooter; }
    .section.dolly &{ border-top: 10px solid $dolly; }
    .section.shamrock &{ border-top: 10px solid $shamrock; }
    .section.pear &{ border-top: 10px solid $pear; }
  }
}


// Section

.section { 
  &.carrot{ background-color: $carrot; }
  &.amethyst{ background-color: $amethyst; }
  &.scooter{ background-color: $scooter; }
  &.dolly{ 
    background-color: $dolly;
    color:#2C3E50;
  }
  &.shamrock{ background-color: $shamrock; }
  &.pear{ background-color: $pear; }
}


.color-carrot{ color: $carrot; }
.color-amethyst{ color: $amethyst; }
.color-scooter{ color: $scooter; }
.color-dolly{ color: $dolly; }
.color-shamrock{ color: $shamrock; }
.color-pear{ color: $pear; }

// Previews
.previews {
  display: block;
  list-style: none;
  width: 85%;
  margin: 34px auto 0;
  li {
    display: inline-block;
    width: 150px;
    padding: 20px;
    vertical-align: middle;
  }
  &.bigs li { width: 250px; }
}
.preview-item {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  line-height: 100px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius:15px;
  color:rgba(white,0.3);
  &.big {
    width: 200px;
    height: 200px;
    font-size: 160px;
    line-height: 200px;
  }
  .section.carrot & { background-color: lighten($carrot,10); }
  .section.amethyst &{ background-color: lighten($amethyst,10); }
  .section.scooter &{ background-color: lighten($scooter,10); }
  .section.dolly &{ background-color: lighten($dolly,10); }
  .section.shamrock &{ background-color: lighten($shamrock,10); }
  .section.pear &{ background-color: lighten($pear,10); }
  margin: auto;
  &:after {
    content: "";
    width: 0;
    height: 0;
    .section.carrot & { border-bottom: 33px solid $carrot; }
    .section.amethyst &{ border-bottom: 33px solid $amethyst }
    .section.scooter &{ border-bottom: 33px solid $scooter }
    .section.dolly &{ border-bottom: 33px solid $dolly }
    .section.shamrock &{ border-bottom: 33px solid $shamrock }
    .section.pear &{ border-bottom: 33px solid $pear }
    border-left: 33px solid transparent;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.flip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  .section.carrot & { border-top: 30px solid lighten($carrot,15);}
  .section.amethyst & { border-top: 30px solid lighten($amethyst,15); }
  .section.scooter & { border-top: 30px solid lighten($scooter,15); }
  .section.dolly & { border-top: 30px solid lighten($dolly,15); }
  .section.shamrock & { border-top: 30px solid lighten($shamrock,15); }
  .section.pear & { border-top: 30px solid lighten($pear,15); }

  border-right: 30px solid transparent;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid rgba(0,0,0,0.15);
    border-left: 30px solid transparent;
    position: absolute;
    bottom: 0;
    left: -30px;
  }
}

.preview-desc {
  margin-top: 20px;
  font-family: 'Gentium Basic', serif;
}

.dropdown {
  position: relative;
  margin: 25px auto;
  height: 50px;
  width: 300px;
  &::after {
    content: "➘";
    position: absolute;
    right: 11px;
    top: 13px;
    color: rgba(0,0,0,0.2);
    font-size: 25px;
  }
}

.dropdown-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 50px;
  line-height: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,0.1);
  transition: background-color .3s;
  border:none;
  outline:none;
  &:hover, &:active {
    background-color: rgba(255,255,255,0.5);
  }
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  & > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    border-radius: 3px;
    cursor: pointer;
  }
}


.btn {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  padding: 10px 20px;
  margin-top: 34px;
  display: inline-block;
  transition: background-color, .3s;
  &.carrot{ background-color: $carrot; }
  &.amethyst{ background-color: $amethyst; }
  &.light:hover{
    background-color: rgba(0,0,0,0.1);
  }
}
.btn + small {
    font-family: 'Gentium Basic', serif;
    font-size: 16px;
    margin-top: 10px;
    display: block
}